/* página contato */


.form {
    margin: 0 auto;
    display: block;


}

/* botao form */
.btn-form {
    margin: 0 auto;
    max-width: 110px;
    font-size: 15px;
    padding: 30px;
    background: #f276b6;
    color: #f7e5ce;
    border-radius: 20px;
    list-style-type: none;
    text-align:center;
  }
  
  .btn-form {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
  }
  
  .btn-form a:link {
    color: #09011B;
  }
  
.redes-sociais{

}

